<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.firebird">
    <resources>
        <resource-root path="jaybird-2.2.5.jar"/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="javax.resource.api" export="true"/>
        <module name="javax.transaction.api"/>
    </dependencies>
</module>
