<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.firebird">
    <resources>
        <resource-root path="jaybird-jdk18-${project.version}.jar"/>
    </resources>

    <dependencies>
        <module name="java.se" export="true"/>
        <module name="java.xml" export="true"/>
        <module name="java.xml.crypto" export="true"/>
        <module name="jdk.xml.dom" export="true"/>
        <module name="jakarta.resource.api" export="true"/>
        <module name="jakarta.transaction.api"/>
    </dependencies>
</module>
